<!doctype html>
<html class="no-js" lang="English">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block 'title' %}{% endblock %}</title>
        <meta name="description" content="Just a nifty little site to build your own mini course menu.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block 'head' %}{% endblock %}
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        {% block 'content' %}
        {% endblock %}
        {% block 'scripts' %}
        {% endblock %}
    </body>
</html>